h1, h2, p, ul, li {
    font-family: sans-serif;
}

.content {
    background-color: #FFF;
}

/* ItemList CSS */

.itemListContainer {
    max-height: 50vh;
    overflow-y: auto;
}

/* ItemCarousel CSS */

.categoryListNav {
    max-width: 80vw;
    overflow-x: auto;
}

.categoryListNav>.nav {
    flex-wrap: nowrap;
}