@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://use.typekit.net/xqi3emh.css');
:root {
    --primary-color: #0C3DF6;
    --secondary-color: #1A3547;
    --tertriary-color: #525252;
}
h1, h2, h3, h4, p, ul, li {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

h2 {
    font-family: "bookmania",serif !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    margin-left: 50px;
    margin-right: 50px;
    color: var(--secondary-color) !important;
}

h3 {
    font-family: "Roboto", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--tertriary-color) !important;
}

h4 {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--tertriary-color) !important;
}

.header-img {
    width:100vw;
    margin-bottom: 30px;
    max-width: 80vh;
}

.content {
    background-color: #FFF;
    height:100vh;
}

.content h2 {
    padding: 0;
}

.content li {
    margin-bottom: 10px;
}


.margin-sides {
    margin-left: 20px;
    margin-right: 20px;
}
.margin-bottom-ten {
    margin-bottom:10px;
}
.margin-bottom-twenty {
    margin-bottom:20px;
}
.margin-bottom-thirty {
    margin-bottom:30px;
}

.form-control{
    color: #8E8E93 !important;
    border-color: #8E8E93 !important;
}

.back{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 14px;
}

/* ItemList CSS */

.itemListContainer {
    height: 50vh;
    overflow-y: auto;
}

/* ItemCarousel CSS */

.categoryListNav {
    max-width: 80vw;
    overflow-x: auto;
}

.categoryListNav>.nav {
    flex-wrap: nowrap;
}