@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --primary-color: #0C3DF6;
    --secondary-color: #1A3547;
    --tertriary-color: #525252;
    --quaternary-color: #6482E8;
    --quinary-color: #C7C7C7;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 2px;
}

.btn-primary__active {
    background-color: var(--primary-color) !important;
    color: white !important;
    border-radius: 2px !important;
    border: 1px var(--primary-color) solid !important;
}

.btn-primary__active:hover, .btn-primary__active:focus {
    background-color: var(--quaternary-color) !important;
}

.btn-secondary__active {
    background-color: white !important;
    color: var(--primary-color) !important;
    border-radius: 2px !important;
    border: 1px var(--primary-color) solid !important;
}

.btn-secondary__active:hover, .btn-secondary__active:focus {
    color: var(--quaternary-color) !important;
    border: 1px var(--quaternary-color) solid !important;
}

.btn-tertriary__active {
    background-color: white !important;
    color: var(--secondary-color) !important;
    border-radius: 0px !important;
}

.btn-general__inactive {
    background-color: var(--quinary-color) !important;
    color: white !important;
    border-radius: 2px !important;
    border: 1px var(--quinary-color) solid !important;
}

.btn-large {
    font-size: 15px !important;
    margin-top: 20px !important;
    height: 51px !important;
    width: 100% !important;
}

.btn-row {
    font-size: 15px !important;
    margin-top: 20px !important;
    height: 51px !important;
    width: 50% !important;
}

.btn-fit-half {
    font-size: 16px !important;
    font-weight: bold !important;
    height: 100% !important;
    width: 50% !important;
}

.btn-medium {
    font-size: 14px !important;
    margin-top: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    height: 42px !important;
    width: 90vw;
}

.btn-medium-responsive {
    font-size: 14px !important;
    margin-top: 4vh !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    height: 42px !important;
    width: 90%;
}

.btn-small {
    font-size: 14px !important;
    margin-top: 20px !important;
    height: 31px !important;
    width: 100%;
}

/* Should be able to do this without 
setting z to 1000, I don't know how */

.btn-menu {
    height: 25px !important;
    width: 25px !important;
    position: absolute;
    top: 35px;
    right: 65px;
    z-index: 999 !important;
}

.btn-donations {
    font-size: 14px !important;
    margin-top: 15px !important;
    margin-right: 8vw !important;
    height: 73px !important;
    width: 73px !important;
}