@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primaryColor: #6482E8;
    --secondaryColor: #C7C7C7;
    --tertriaryColor: #365EF2;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 2px;
}

.btn-primary__active {
    background-color: var(--primaryColor) !important;
    color: white !important;
    border-radius: 2px !important;
    border: 1px var(--tertriaryColor) solid !important;
}
.btn-primary__active:hover {
    background-color: var(--tertriaryColor) !important;
}
.btn-secondary__active {
    background-color: white !important;
    color: var(--primaryColor) !important;
    border-radius: 2px !important;
    border: 1px var(--primaryColor) solid !important;
}
.btn-secondary__active:hover {
    color: var(--tertriaryColor) !important;
    border: 1px var(--tertriaryColor) solid !important;
}
.btn-general__inactive {
    background-color: var(--secondary) !important;
    color: white !important;
    border-radius: 2px !important;
    border: 1px var(--secondary) solid !important;
}

.btn-large{
    font-size: 15px !important;
    margin-top: 20px !important;
    height: 51px !important;
    width: 100% !important;
}
.btn-medium{
    font-size: 14px !important;
    margin-top: 20px !important;
    height: 42px !important;
    width: 100%;
}
.btn-small{
    font-size: 14px !important;
    margin-top: 20px !important;
    height: 31px !important;
    width: 100%;
}