.item-tooltip {
    /* height: 40px !important;
    width: 40px !important; */
    position: absolute;
    top: 0vh;
    /* left: 50vw; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 2000;
    /* background-image: url('../../../public/imgs/hamburger-icon.png'); */
    /* background-size: 40px 40px; */
    /* background-position: center; */
    background-color: #365EF2;
    opacity: .8;
    color: white;
    border: none;
}