@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --primary-color: #0C3DF6;
    --secondary-color: #1A3547;
    --tertriary-color: #525252;
    --quaternary-color: #6482E8;
    --quinary-color: #C7C7C7;
    --strong-color: #1CA321;
    --okay-color: #E3DD49;
    --warning-color: #DE2828;
}

.passwordStrength-bar {
    margin-top: 10px;
    height: 5px !important;
    width: 100%;
}

.passwordStrength {
    width: 21%;
    margin-right: 3.5%;
    height: 5px;
    border-radius: 100px;
    vertical-align: top;
    display: inline-block;
}

.passwordStrength__empty {
    background-color: var(--quinary-color);
}