:root {
    --primaryToggleColor: #365EF2;
    --secondaryToggleColor: #DDDDDD;
    --white: #FFFFFF;
}
 
.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondaryToggleColor);
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 0.03125rem;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: var(--primaryToggleColor);
}
  
input:checked + .slider:before {
    transform: translateX(1.03125rem);
}