@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://use.typekit.net/xqi3emh.css');
:root {
    --primary-color: #0C3DF6;
    --secondary-color: #1A3547;
    --tertriary-color: #525252;
    /* --primaryColor: #6482E8;
    --secondaryColor: #C7C7C7;
    --tertriaryColor: #FFEEA5;
    --successColor: #25AC87;
    --warningColor: #FFEEA5;
    --dangerColor: #D32438;
    --white: #ffffff;
    --black: #000000; */
}

.location-slide-style {
    background-color: white !important;
    position: absolute;
    bottom: 0vh;
    right: 0vw;
    width: 100vw;
    height: fit-content;
    z-index: 2000;
}


.locationSlider-header {
    margin: 20px 20px 5px !important;
    color: var(--secondary-color) !important;
}

.locationSlider-text {
    font-family: "Roboto", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    margin: 0px 20px !important;
    color: var(--tertriary-color) !important;
}

/* ANIMATIONS */

/* Initial location select slider */

.location-slide-enter {
    transform: translateY(100%);
}

.location-slide-enter-active {
    transform: translateY(0%);
    transition: transform 500ms ease-in-out;
}

.location-slide-exit {
    transform: translateY(0%);
}

.location-slide-exit-active {
    transform: translateY(100%);
    transition: transform 500ms ease-in-out;
}

/* Store select slider */

.store-slide-enter {
    transform: translateY(100%);
}

.store-slide-enter-active {
    transform: translateY(0%);
    transition: transform 500ms ease-in-out;
}

.store-slide-exit {
    transform: translateY(0%);
}

.store-slide-exit-active {
    transform: translateY(100%);
    transition: transform 500ms ease-in-out;
}