.map-container {
    z-index: 0;
    /* position: absolute; */
}

.fill-height {
    height: 100vh;
}

/* Should be able to do this without 
setting z to 1000, I don't know how */

.btn-menu {
    height: 40px !important;
    width: 40px !important;
    position: absolute;
    top: 2vh;
    right: 2vh;
    z-index: 1000;
    background-image: url('../../../public/imgs/hamburger-icon.png');
    background-size: 40px 40px;
    background-position: center;
    background-color: white;
    border: none;
}